body {
    font-family: "Gill Sans", sans-serif;
    font-size: 12pt;
    margin: 8em;
    background-image: url("16981.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    color: #0e11bb;
    font: oblique bold 120% cursive;
}

legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}